@model TeknoramaUI.Areas.Administration.Models.ExpenseModel.ExpenseCreateRequestModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Expense Page</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.Amount)
    @Html.TextBoxFor(x=>x.Amount, new{@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.Description)
    @Html.TextBoxFor(x=>x.Description, new{@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.ExpenseType)
    @Html.TextBoxFor(x=>x.ExpenseType, new{@class = "form-control"})
    <br />
    @Html.LabelFor(x=>x.PaymentDate)
    @Html.TextBoxFor(x=>x.PaymentDate, new{@class = "form-control"})
    <br />
    <button class="btn btn-info">Save</button>
</form>