@using TeknoramaUI.Areas.Administration.Models.OrderDetailModel
@model List<OrderDetailListResponseModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Id</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Product Id</th>
        <th>Order Id</th>
    </tr>
    @if (Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Quantity</th>
                <th>@item.UnitPrice</th>
                <th>@item.TotalPrice</th>
                <th>@item.Product</th>
                <th>@item.Product.ProductName</th>
                <th>@item.Product.UnitPrice</th>
                <th>@item.Product.UnitsInStock</th>
                <th>@item.Order.AppUser</th>
                <th>@item.Order.Email</th>
                <th>@item.Order.Employee</th>
                <th>@item.Order.TotalPrice</th>
                <th>@item.Order.Shipper</th>
                <th>@item.Order.ShipAddress</th>
                <th>@item.Order.ShipCity</th>
                <th>@item.Order.ShipCountry</th>
                <th>@item.Order.OrderStatus</th>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2" class="text-danger">There is no any data..!</td>
        </tr>
    }
</table>